<div class="container-fluid" style="margin-top: 20px;">
	<div class="jumbotron">
		<p class="lead">Upload student grades</p>
	</div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8" style="text-align: center;">
      <div>
        <form>
          <div class="form-group">
            <textarea [(ngModel)]="grades" class="form-control" id="" cols="30" rows="10" name="grades"></textarea>
          </div>
          <div class="form-group">
            <button class="btn btn-success" (click)="uploadGrades()">Submit</button>
          </div>
        </form>
      </div>
      <div>
        <p>- or -</p>
      </div>
      <div>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text upload" id="btnUpload"></span>
          </div>
          <div class="custom-file">
            <form></form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
