<div class="modal-header">
  <h4 class="modal-title">Update Grade</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <input type="number" [(ngModel)]="grade" name="grade" class="form-control">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-warning" (click)="activeModal.close('Close click')">Close</button>
  <button type="button" class="btn btn-success" (click)="updateGrade()" [disabled]="oldGrade === grade">Update</button>
</div>
