<div class="container-fluid">
  <div class="jumbotron">
    <p class="lead">Students List</p>
  </div>

<!--  <div class="row">-->
<!--    <div class="col-md-4">-->
<!--      <input *ngIf="config.filtering" placeholder="Filter all columns"-->
<!--        [ngTableFiltering]="config.filtering"-->
<!--        class="form-control"-->
<!--        (tableChanged)="onChangeTable(config)">-->
<!--    </div>-->
<!--  </div>-->
<!--  <br>-->
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <ng-table [config]="config"
                (tableChanged)="onChangeTable(config)"
                (cellClicked)="onCellClick($event)"
                [rows]="rows" [columns]="columns">
      </ng-table>
      <div *ngIf="rows.length === 0" style="
        background-color: #f1f1f1;
        padding: 10px;
        text-align: center;
        margin-top: -17px;
        margin-bottom: 10px;
      ">
        <span>No data found</span>
      </div>
      <pagination *ngIf="config.paging"
                  class="pagination-sm"
                  [(ngModel)]="page"
                  [totalItems]="length"
                  [itemsPerPage]="itemsPerPage"
                  [maxSize]="maxSize"
                  [boundaryLinks]="true"
                  [rotate]="false"
                  (pageChanged)="onChangeTable(config, $event)"
                  (numPages)="numPages = $event">
      </pagination>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
